@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

html,
body,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "source-code-pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
  /* flex-direction: row;
  justify-content: space-between; */
  /* gap: 16px; */
}

/*scroolbar*/
::-webkit-scrollbar {
  width: 10px;
}

/*track*/
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/*handle*/
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/*handle on hover*/
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Add this to your CSS file */
.fullscreen-capture {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 9999 !important;
  background-color: white !important; /* Optional: Set background color */
}
